
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
h1{
    color:rgb(154, 64, 238);
    font-family: 'Passion One', cursive;
}
main{
    background-color: white;
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    
}
.baskara{
    background-color: rgb(255, 255, 148);
    border-radius: 15px;
}
.valores{
    padding:35px;
}


/* .baskara{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin:20px;
} */